
.ieisold body {
	min-height: 100vh;
	width:100%;
	margin: 0;
	padding: 0;
	overflow-y:auto;			
	position:relative;	
	/*
	background-image: url('../../assets/images/ie/ie_bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% 100%;
	*/
}

.ieisold #ie-rest-page {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100vh;
	overflow-y:hidden;
	z-index:0;
}

.ieisold #ie_over {
	display: table;
	text-align:center;
	min-height: 100vh;
	min-width:100%;
	position:relative;
	z-index:99999;
}
.ieisold #ie_over .container-fluid {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	max-width:80%;
}
.ieisold #ie_over #warn_logo {
	display:block;
	max-width:200px;
	max-height: 95px;
	height:auto;
	margin:25px auto;
}

.ieisold #ie_over .container-fluid h1 {
	font-size:60px;
	color:#fff;
	line-height: 1.1;
    margin: 0 0 15px;
    padding: 0;
}
.ieisold #ie_over .container-fluid h2 {
	font-size:24px;
	color:#fff;
	line-height: 1.1;
    margin: 0 0 15px;
    padding: 0;
}
.ieisold #ie_over .content-table {
	display: table;
	text-align:center;
	/*background:#888;*/
	margin:35px auto;
	max-width:80%;
	table-layout: fixed;
}
.ieisold #ie_over .content-table .col-md-3 {
	display: table-cell;
	vertical-align: middle;
	text-align:center;
	padding:30px;
	width:25%;
}

.ieisold #ie_over .content-table a ins {
	background:transparent;
	color:#fff;
	text-decoration:underline;
}
.ieisold #ie_over .content-table a ins span {
	display:block;
	text-align:center;
	white-space:pre-wrap;
	word-break:break-all;
}

@media only screen and (max-width: 1024px) {
	.ieisold #ie_over .container-fluid h1 {
		font-size:40px;
	}
	.ieisold #ie_over .container-fluid h2 {
		font-size:18px;
	}
}